<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>   
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VrPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\\logger\\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  
  <appSettings>
    <!--General-->
    <add key="CameraFieldOfView" value="110" />
    <add key="ViewportsHorizontalOffset" value="64" />
    <add key="ViewportsVerticalOffset" value="0" />
    <add key="SamplesFolder" value="Samples" />
    <add key="NeckHeight" value="0" />
    <add key="ReadSideCarPresets" value="true" />
    <!-- Plugins -->
    <add key="DefaultMedia" value="VrPlayer.Medias.WpfMediaKit" />
    <add key="DefaultEffect" value="VrPlayer.Effects.NoEffect" />
    <add key="DefaultDistortion" value="VrPlayer.Distortions.Barrel" />
    <add key="DefaultProjection" value="VrPlayer.Projections.Plane" />
    <add key="DefaultTracker" value="VrPlayer.Trackers.MouseTracker" />
    <add key="DefaultStabilizer" value="VrPlayer.Stabilizers.NoStabilizer" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <VrPlayer.Properties.Settings>
      <setting name="Medias" serializeAs="String">
        <value />
      </setting>
      <setting name="Projections" serializeAs="String">
        <value />
      </setting>
      <setting name="Effects" serializeAs="String">
        <value />
      </setting>
      <setting name="Distortions" serializeAs="String">
        <value />
      </setting>
      <setting name="Trackers" serializeAs="String">
        <value />
      </setting>
      <setting name="Stabilizers" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentMedia" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentProjection" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentEffect" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentDistortion" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentTracker" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentStabilizer" serializeAs="String">
        <value />
      </setting>
      <setting name="LayoutMode" serializeAs="String">
        <value>SideBySide</value>
      </setting>
      <setting name="StereoMode" serializeAs="String">
        <value />
      </setting>
      <setting name="FieldOfView" serializeAs="String">
        <value />
      </setting>
      <setting name="VerticalOffset" serializeAs="String">
        <value />
      </setting>
      <setting name="HorizontalOffset" serializeAs="String">
        <value />
      </setting>
      <setting name="Samples" serializeAs="String">
        <value />
      </setting>
      <setting name="Shortcuts" serializeAs="String">
        <value />
      </setting>
      <setting name="NeckHeight" serializeAs="String">
        <value />
      </setting>
      <setting name="ReadSideCarPresets" serializeAs="String">
        <value />
      </setting>
    </VrPlayer.Properties.Settings>
  </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v2.0" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  
</configuration>