<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Slices" value="32"/>
    <add key="Stacks" value="32"/>
    <add key="Coverage" value="0.5"/>
    <add key="FishEyeFOV" value="180.0"/>
    <add key="Heading" value="0"/>
    <add key="Tilt" value="0"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
