<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\comport-packages-console"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="'.'yyyy-MM-dd'.log'"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>

    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR"/>
        <forecolor value="Red"/>
      </mapping>
      <mapping>
        <level value="DEBUG"/>
        <forecolor value="Yellow"/>
      </mapping>

      <mapping>
        <level value="INFO"/>
        <forecolor value="White"/>
      </mapping>

      <mapping>
        <level value="WARN"/>
        <forecolor value="Cyan"/>
      </mapping>

      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
      <!--<appender-ref ref="ConsoleAppender" />-->
      <appender-ref ref="ColoredConsoleAppender"/>
    </root>
  </log4net>
  <appSettings>
    <add key="ComPort" value="COM1" />
    <add key="BaudRate" value="115200" />
    <!--таймаут (ms) после пакета инициализации-->
    <add key="T0" value="50" />
    <!--таймаут (ms) после пакета движений-->
    <add key="T1" value="930" />
    <!--таймаут (ms) после последнего пакета движений перед пакетом остановки-->
    <add key="T2" value="930" />
    <!--таймаут (ms) после пакета остановки-->
    <add key="T3" value="50" />
  </appSettings>

</configuration>