<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PositionScaleFactor" value="5"/>
    <add key="TrackerAddress" value="Tracker0@localhost"/>
    <add key="ButtonAddress" value="Button0@localhost"/>
    <add key="RotationOffset" value="30,0,0"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
