<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Slices" value="32"/>
    <add key="Stacks" value="32"/>
    <add key="HorizontalCoverage" value="0.5"/>
    <add key="VerticalCoverage" value="0.5"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
