<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TranslationFactor" value="50"/>
    <add key="RotationFactor" value="0"/>
    <add key="ZoomFactor" value="50"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
