<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Factor" value="1.8"/>
    <add key="XCenter" value="0.5"/>
    <add key="YCenter" value="0.5"/>
    <add key="BlueOffset" value="0"/>
    <add key="RedOffset" value="0"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
